[data-page='editor'] {
  background-color: rgb(34, 34, 34);
  color: rgb(238, 238, 238);

  font-size: 3rem;
}

/*
  1024 × 768
  2048 × 1536
*/
[data-page='editor'].container {
  width: 1024px;
  margin: 16px;
}

[data-page='editor'] .instructions {
  font-size: 2rem;
}

[data-page='editor'] .targets {
  width: 50vw;
}

[data-page='editor'] .target {
  position: relative;
  display: inline-block;
  width: 10vw;
  height: 10vw;
  line-height: 10vw;
  text-align: center;

  margin: 1vw 9vw 1vw 1vw;

  color: rgb(34, 34, 34);
  background: hsla(339, 100%, 35%, 1);
  border-radius: 10vw;
}

[data-page='editor'] .target.is-active {
  background: #ff0;
}

/*
[data-page='editor'] .touch:hover {
  background-color: hsl(175, 91%, 50%);
  color: #222;
}
*/
[data-page='editor'] .target .action {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;

  height: 1vw;
  line-height: 1vw;

  font-size: 2rem;
}

/*
  Change colour on activation
*/
[data-page='editor'] .target.is-assigned,
[data-page='editor'] .target.is-assigned .action {
  background-color: hsla(125, 100%, 73%, 1);
  color: #222;
}

[data-page='editor'] .target .action {
  width: 150%;
}

[data-page='editor'] .action {
  display: inline-block;
  padding: 1rem;
}

[data-page='editor'] .action.has-label {
  color: rgb(34, 34, 34);
  background: hsla(339, 100%, 35%, 1);
}

/*
  Cyan:   hsla(223, 100%, 50%, 1)
  Pink:   hsla(339, 100%, 35%, 1)
  Orange: hsla(43 , 100%, 63%, 1)
  Yellow: hsla(125, 100%, 73%, 1)
*/
[data-page='editor'] .action[data-type='command'] {
  background: hsla(223, 70%, 50%, 1);
}

[data-page='editor'] .action[data-type='command']:active {
  background: hsla(223, 100%, 60%, 1);
}

[data-page='editor'] .action[data-type='media'] {
  background: hsla(43 , 70%, 63%, 1);
}

[data-page='editor'] .action[data-type='media']:active {
  background: hsla(43 , 100%, 73%, 1);
}

[data-page='editor'] .actions .action {
  margin: 1rem;
}

[data-page='editor'] .icon {
  font-size: 0.9em;
  padding-right: 1rem;
}
